body {
    margin: 0;
    padding: 0;
    background-image:url(../image/0006.png);
    background-position: center;
}

/* ~~~~~~~~~~~ */
/* #init-popup */
/* ~~~~~~~~~~~ */



/* ~~~~~~~~~~~~~ */
/* #core-content */
/* ~~~~~~~~~~~~~ */

#core-wrapper {
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    grid-template-rows:auto ;
    height: fit-content;
}

#header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

h1 {
    font-family: Jacquard;
    font-size: 4rem;
}

#nav {
    display: flex;
    flex-direction: row;
}

#popups-container {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
}

#introduction {
    grid-column: 2;
    grid-row: 2;
    font-family: 'IBM Plex Mono Regular';
}

#introduction > h2 {
    font-family: 'VT232';
}

#todo-list {
    grid-column: 3;
    grid-row: 2;
    font-family: 'IBM Plex Mono Regular';
}

ol[title]::before {
    content: attr(title);
    display: block;
    font-family: VT232;
  }

#buttons {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3;
}


/* ~~~~~~~~*/
/* flasher */
/* ~~~~~~~~*/
