body {
    margin: 0;
    padding: 0;
}

/* ~~~~~~~~~~~ */
/* #init-popup */
/* ~~~~~~~~~~~ */



/* ~~~~~~~~~~~~~ */
/* #core-content */
/* ~~~~~~~~~~~~~ */

#core-wrapper {
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    grid-template-rows:auto ;
    height: fit-content;
}

#header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    text-align: center;
}

#nav {
    display: flex;
    flex-direction: row;
}

#introduction {
    grid-column: 2;
    grid-row: 2;
}

#todo-list {
    grid-column: 3;
    grid-row: 2;
}

ol[title]::before {
    content: attr(title);
    display: block;
    font-weight: bold;
  }

#buttons {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3;
}


/* ~~~~~~~~*/
/* flasher */
/* ~~~~~~~~*/
